/*

!picom/

!nvim/
nvim/lazy-lock.json

!lf/
!ly/
!awesome/

!alacritty/
alacritty/font_size.toml

!kitty/
!zsh/
!rofi/
!redshift/
!dunst/
!betterlockscreen/
!keyd
!sxhkd/
!starship.toml

!.gitmodules
!.gitignore
