/*

.DS_Store

!nvim/
./nvim/lazy-lock.json

!alacritty/
alacritty/font_size.toml
!kitty/
kitty/font_size.conf

!picom/
!ly/
!awesome/
!zsh/
!rofi/
!redshift/
!dunst/
!betterlockscreen/
!keyd
!sxhkd/
!yazi/
!xinit/

!.gitmodules
!.gitignore
